In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score, mean_absolute_percentage_error, mean_squared_error, make_scorer
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import OneHotEncoder
import pickle

In [13]:
df = pd.read_csv("../data/test_case.csv")
df = df.iloc[:, 1:]

In [14]:
y = df.Price
X = df.drop(['Price'], axis=1)

In [4]:
X.head()

,Street Address,Bed,Bath,Listing Area,Certificate,Jakarta Division
0,Cakung,5,4,116,PPJB - Perjanjian Pengikatan Jual Beli,EAST
1,Permata Buana,4,3,260,SHM - Sertifikat Hak Milik,WEST
2,Taman Mini,3,2,90,SHM - Sertifikat Hak Milik,EAST
3,Cipinang,2,2,70,SHM - Sertifikat Hak Milik,EAST
4,Pondok Gede,2,2,53,SHM - Sertifikat Hak Milik,EAST

In [7]:
X.loc[0]

Street Address                                      Cakung
Bed                                                      5
Bath                                                     4
Listing Area                                           116
Certificate         PPJB - Perjanjian Pengikatan Jual Beli
Jakarta Division                                      EAST
Name: 0, dtype: object

In [15]:
y.loc[0]

2700000000.0

In [ ]:
df['Listing Area'] = df['Listing Area'].str.replace(' mÂ²', '')
df = df.astype({'Listing Area':'int64'})

In [3]:
student_card = pd.DataFrame({'ID':[20190103, 20190222, 20190531],
                             'name':['Kim', 'Lee', 'Jeong'],
                             'class':['H', 'W', 'S']})

In [4]:
street_address = input()
bed = int(input())
bath = int(input())
listing_area = int(input())
certificate = input()
jakarta_division = input()

Cakung
5
4
116
PPJB - Perjanjian Pengikatan Jual Beli
EAST

In [7]:
one_df = pd.DataFrame({'Street Address':[street_address],
                        'Bed':[bed],
                        'Bath':[bath],
                        'Listing Area':[listing_area],
                        'Certificate':[certificate],
                        'Jakarta Division':[jakarta_division]})
print(one_df.shape)

(1, 6)

In [30]:
low_cardinality_cols = [cname for cname in X.columns if X[cname].nunique() < 10 and 
                        X[cname].dtype == "object"]
high_cardinality_cols = [cname for cname in X.columns if X[cname].nunique() >= 10 and 
                        X[cname].dtype == "object"]

In [31]:
numerical_cols = [cname for cname in X.columns if X[cname].dtype in ['int64', 'float64']]

In [32]:
my_cols = low_cardinality_cols + high_cardinality_cols+ numerical_cols
X = X[my_cols].copy()

In [8]:
# Get list of categorical variables
s = (one_df.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['Street Address', 'Certificate', 'Jakarta Division']

In [9]:
filename1 = "../data/ordinal_encoder.pickle"

# load model
ordinal_encoder = pickle.load(open(filename1, "rb"))
one_df[object_cols] = ordinal_encoder.transform(one_df[object_cols])

/Users/an-uigeun/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [11]:

filename = "../data/random_forest.pickle"

# load model
loaded_model = pickle.load(open(filename, "rb"))

# you can use loaded model to compute predictions
preds = loaded_model.predict(one_df)

# mape = mean_absolute_percentage_error(y, preds)
print(preds)

[2.053743e+09]

/Users/an-uigeun/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)